.register-students {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
.register-container {
    background-color: #e5e7e6;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 400px;
}
  
.registration-title {
    text-align: center;
    color: #2d4234;
    margin-bottom: 20px;
}
  
.register-label {
    display: block;
    margin-bottom: 6px;
    color: #333;
    font-weight: 500;
}

.register-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}
  
.register-button {
    background-color: #c6e7d3;
    color: #2d4234;
    border: none;
    padding: 12px 20px;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    text-decoration: none; display: block; text-align: center
}
  
.register-button:hover {
    background-color: #b1dcc4;
}
